<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <add key="redisServer" value="10.44.17.68" />
  <add key="databaseIndex" value="2" />
  <add key="login_url" value="~/login/index"/>
  <add key="login_redirect_page" value="~/"/>
  <add key="monitorUrl" value="http://monitor.etao.cn/OauthLogin"/>
</appSettings>