
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="//cdn.bootcss.com/jquery/2.1.4/jquery.js"></script>
    <title>测试调用</title>
</head>
<body>
    <div id="c"> 
        <div id="a1"></div>
        <div id="a2"></div>
        <div id="a3"></div>
    </div>
    <div id="d">
        <div id="b1"></div>
        <div id="b2"></div>
        <div id="b3"></div>
    </div>
    <script>
    </script>
</body>
</html>
