
@{
    ViewBag.Title = "依赖关系图";
    Layout = "~/Views/Shared/MainLayout.cshtml";
}
@section css
{
    <style type="text/css">
    path.link {
        fill: none;
        stroke: #666;
        stroke-width: 1.5px;
    }

    marker#licensing {
        fill: green;
    }

    path.link.licensing {
        stroke: green;
    }

    path.link.resolved {
        stroke-dasharray: 0, 2 1;
    }

    circle {
        fill: #ccc;
        stroke: #333;
        stroke-width: 1.5px;
    }

    text {
        font: 10px sans-serif;
        pointer-events: none;
    }

        text.shadow {
            stroke: #fff;
            stroke-width: 3px;
            stroke-opacity: .8;
        }
</style>
}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            依赖关系图
            <small>依赖关系图</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-pie-chart"></i> Home</a></li>
            <li class="active">依赖关系图</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <div id="chart"></div>
    </section> 
</div><!-- /.content-wrapper -->
@section scripts
{
   <script src="~/Scripts/d3.min.js"></script>
   <script src="~/Scripts/relationchart.js"></script>
}
 