<?xml version="1.0" encoding="utf-8" ?>
<services xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://www.39541240.com/services">
  <service interface="WeDemo.Consumer.Service.IDemoService,WeDemo.Consumer"
           implementation="WeDemo.Consumer.Service.DemoService,WeDemo.Consumer"
           interceptor="Easy.Rpc.RPCServiceInterceptor,Easy.Rpc" enable_interceptor="true"/>
</services>